/*=============================================
=            Site Colors            =
=============================================*/

//general
$primary-color: #257aa6; // primary color for buttons
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color

// text color
$body-color:#fff ; // body text color 
$link-color: #1890ff; // link color
$text-color: #eee; // body text color
$dark: #1d1f22; 

// hover
$primary-hover-color: #0c68e0;
$secondary-hover-color: #0c68e0;
$light-hover-color: #e4e4e4;

// bg
$bg-primary: #282c34; //bg color

// table
$borders: #f4f4f4

